In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [12]:
#avg_tuition_file
avg_tuition_file = "static/data/avg_tuiton_state.csv"
avg_tuition_df = pd.read_csv(avg_tuition_file)
avg_tuition_df.head()

                  state avg_tuiton
0          Rhode Island   $33,594
1  District Of Columbia   $29,881
2               Vermont   $29,046
3         Massachusetts   $27,990
4          Pennsylvania   $23,167

In [5]:
#income_by_education_level
income_lvleducation_file = "static/data/income_by_education_level.csv"
income_lvleducation_df = pd.read_csv(income_lvleducation_file)
income_lvleducation_df.head()

,Educational attainment,Unemployment rate (%),Median usual weekly earnings ($)
0,Doctoral degree,1.1,"1,883"
1,Professional degree,1.6,"1,861"
2,Master's degree,2.0,"1,497"
3,Bachelor's degree,2.2,"1,248"
4,Associate's degree,2.7,887

In [6]:
#income_by_state
state_income_file = "static/data/income_by_state.csv"
state_income_df = pd.read_csv(state_income_file)
state_income_df.head()

        State median_income
0     Alabama   $55,935.00
1      Alaska   $78,038.00
2     Arizona   $70,080.00
3    Arkansas   $54,322.00
4  California   $78,002.00

In [7]:
#Kaggle_tuition_cost
tuition_cost_file = "static/data/Kaggle_tuition_cost.csv"
tuition_cost_df = pd.read_csv(tuition_cost_file)
tuition_cost_df.head()

,name,state,state_code,college_type,degree_length,room_and_board,in_state_tuition,in_state_total,out_of_state_tuition,out_of_state_total
0,Aaniiih Nakoda College,Montana,MT,Public,2 Year,NaN,2380,2380,2380,2380
1,Abilene Christian University,Texas,TX,Private,4 Year,10350.0,34850,45200,34850,45200
2,Abraham Baldwin Agricultural College,Georgia,GA,Public,2 Year,8474.0,4128,12602,12550,21024
3,Academy College,Minnesota,MN,For Profit,2 Year,NaN,17661,17661,17661,17661
4,Academy of Art University,California,CA,For Profit,4 Year,16648.0,27810,44458,27810,44458

In [9]:
#State_Avg_Debt
state_debt_file = "static/data/State-Avg-Debt.csv"
state_debt_df = pd.read_csv(state_debt_file)
state_debt_df.head()

,State,Average Debt of Graduates (2018-19),Average Debt Rank,Percent of Graduates with Debt (2018-19),Percent with Debt Rank,Usable Institutions (BA-Granting),Percent of Graduates at Schools with Usable Data,"Nonfederal debt of graduates, as percent of total debt",Fall enrollment - Undergraduate total (IPEDS),Tuition and Fees (in-district/in-state),Total Cost of Attendance (on-campus),Percent of Institutional Grants that are Need-Based,Undergraduates who received Pell Grants (%) (Currently unavailable for 2018-19)
0,Alabama,"$29,791",23,50%,36,15,75%,25%,"257,606","$9,682","$25,805",34%,NaN
1,Alaska,"$25,925",40,48%,40,3,97%,22%,"24,356","$8,056","$24,536",66%,NaN
2,Arizona,"$24,712",43,49%,39,7,83%,21%,"490,769","$9,530","$27,746",63%,NaN
3,Arkansas,"$26,679",35,53%,34,8,58%,15%,"141,802","$9,053","$24,648",53%,NaN
4,California,"$21,485",48,47%,44,66,82%,14%,"2,457,658","$10,390","$36,347",86%,NaN

In [11]:
#State_Med_Income
State_Med_Income_file = "static/data/State-Med-Income-Edu.csv"
State_Med_Income_df = pd.read_csv(State_Med_Income_file)
State_Med_Income_df.head()

        State 2019_income 2018_income Bach_or_higher
0     Alabama  $56,200.00  $50,841.00         24.50%
1      Alaska  $78,394.00  $69,979.00         29.00%
2     Arizona  $70,674.00  $63,411.00         28.40%
3    Arkansas  $54,539.00  $50,683.00         22.00%
4  California  $78,105.00  $71,766.00         32.60%

In [13]:
#unemployment_by_state
unemployment_state_file = "static/data/unemployment_by_state.csv"
unemployment_state_df = pd.read_csv(unemployment_state_file)
unemployment_state_df.head()

           State  Rate  Ranking
0   North Dakota   2.4      1.0
1        Vermont   2.4      1.0
2  New Hampshire   2.5      3.0
3           Utah   2.6      4.0
4         Hawaii   2.7      5.0

In [31]:
connection_string = "postgres:postgres@localhost:5432/Proj3-Team3_db"
engine = create_engine(f'postgresql://{connection_string}')

In [32]:
#avg_tuition
avg_tuition_df.to_sql(name='premise', con=engine, if_exists='append', index=True)
#income_by_education_level
income_lvleducation_df.to_sql(name='premise', con=engine, if_exists='append', index=True)
#income_by_state
state_income_df.to_sql(name='premise', con=engine, if_exists='append', index=True)
#Kaggle_tuition_cost
tuition_cost_df.to_sql(name='premise', con=engine, if_exists='append', index=True)
#State_Avg_Debt
state_debt_df.to_sql(name='premise', con=engine, if_exists='append', index=True)
#State_Med_Income
State_Med_Income_df.to_sql(name='premise', con=engine, if_exists='append', index=True)
#unemployment_by_state
unemployment_state_df.to_sql(name='premise', con=engine, if_exists='append', index=True)

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "postgres"

(Background on this error at: http://sqlalche.me/e/13/e3q8)